@import "../../../core/variables/variables.scss";

.productsForm {
  &__row {
    display: flex;
    justify-content: space-between;

    .mat-form-field {
      display: block;
      margin-right: 5px;
    }
  }

  &__button-delete {
    margin-left: 10px;
    background: $primaryColor;
  }

  &__button-add {
    display: block;
    background: $secondaryColor;
    color: $primaryColor;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  &__button-submit {
    background: $primaryColor;
    color: $white;
  }
}
